# IntelliJ IDEA
.idea/

# Maven
target/
mvnw
mvnw.cmd
.mvn/
*.log
*maven-wrapper.jar

# General
.DS_Store
*.class
*.iml
*.ipr
*.iws
*.bak
*.tmp
*.swp
*~
.env
*.db

# Temp
/src/main/java/com/projects/tennisscoreboard/HibernateRunner.java
