* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HOME PAGE*/

.wrapper {
    background-color: #f2f3f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-container {
    background-color: #d7dbdd;
    height: 70vh;
    width: 60vw;
    max-height: 400px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.welcome-text {
    font-size: 32px;
    font-weight: bold;
    color: #34495e;
}

.welcome-text::after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background-color: #626567;
    border: none;
    margin: 10px auto 0;
}

.home-button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
}

.home-button {
    background-color: #a6acaf;
    min-width: 150px;
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    border: 2px solid #626567;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    cursor: pointer;
}

.home-button:hover {
    background-color: #626567;
    color: #d7dbdd;
    border: 2px solid black;
    transform: scale(1.1);
}

.home-button:active {
    color: #7b8287;
}

/*NEW MATCH PAGE*/

.new-match-title {
    font-size: 32px;
    font-weight: bold;
    color: #34495e;
}

.new-match-title::after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background-color: #626567;
    border: none;
    margin: 5px auto 0;
}

.create-match-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.input-label {
    font-size: 25px;
    font-weight: 500;
    color: #2c3e50;
    display: block;
    text-align: left;
    width: 100%;
}

.create-input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 25px;
    border: 2px solid #626567;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

/*COMPLETED MATCHES PAGE*/

.matches-container {
    width: 100vh;
    max-width: 800px;
    background-color: #d7dbdd;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.matches-title {
    font-size: 32px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 15px;
}

.search-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #626567;
    border-radius: 5px;
}

.action-matches-button {
    background-color: #a6acaf;
    color: black;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.action-matches-button:hover {
    background-color: #626567;
    color: white;
}

.matches-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.matches-table th, .matches-table td {
    border: 2px solid #626567;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.matches-table th {
    background-color: #a6acaf;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination button {
    background-color: #a6acaf;
    border: 2px solid #626567;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.pagination button:disabled {
    background-color: #d7dbdd;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #626567;
    color: white;
}
